{% extends 'base.html' %}
{% load static %}
{% block title %}Category{% endblock %}


{% block content %}
<main data-aos="fade" data-aos-delay="0">
    <div class="main-content over-hidden">
        <!-- breadcrumb -->
        <div class="container">
            <div class="breadcrumb-container text-center-sm">
                <ol class="breadcrumb font-w-6 p-h-0 m-b-0 m-t-15">
                    <li><a href="{% url 'fabrics_main:homepage' %}">Главная</a></li>
                    <li class="active"><a href="index.html">Косметика по уходу за волосами</a></li>
                </ol>
            </div>
        </div>

        <!-- products -->
        <div class="products">
            <div class="container">
                <div class="products-selection">
                    <div class="form-selection text-center">
                        <h3 class="visible-xs visible-sm">Фильтрация</h3>
                        <form method="get" action="{% url 'fabrics_main:select_search' %}">
                            {% csrf_token %}
                            <div style="align-items: center;" class="row fields-items">
                                <div style=" align-items: center;" class="field pie-md-flex-4 m-v-15">
                                    <select style="max-width: 243px;"
                                            name="menucategory"
                                            hx-get="{% url 'fabrics_main:htmxcategory' %}"
                                            hx-trigger="change"
                                            hx-target="#menucat">
                                        <option selected>Menyu Categorya tanlang
                                        <option>
                                            {% for m in mencategory %}
                                        <option value="{{ m.pk }}">{{ m.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div id="menucat">
                                    {% include 'partials/categories.html' %}
                                </div>

                                <div style=" align-items: center;" class="field pie-md-flex-4 m-v-15">
                                    <select name="brand">
                                        {% for brand in brands %}
                                        <option value="{{ brand.id }}">{{ brand.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="field pie-md-flex-2 m-v-15 input">
                                    <input type="number" name="min_price" value="" placeholder="Мин. цена"
                                           class="form-control"/>
                                </div>
                                <div class="field pie-md-flex-2 m-v-15 input">
                                    <input type="number" name="max_price" value="" placeholder="Макс. цена"
                                           class="form-control"/>
                                </div>

                                <div class="field pie-md-flex-2 m-v-15 btn-content">
                                        <span class="btn-def"><button type="submit"
                                                                      class="btn-res box-100">Найти</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="entry-header text-center color-1"><h1>Косметика по уходу за волосами</h1></div>
                <div class="products-content">

                    <div class="text-center figure-m-v-15 boxes-5 products-items">
                        {% for cat in categoryproduct %}
                        <figure class="hover-content hover-product">
                            <div class="wrapper">
                                <div class="img-content">
                                    <div class="img"
                                         style="background-image: url({{ cat.image.url }});"
                                         alt="Травяные капсулы для роста волос Тричуп, 60 кап, Trichup Capsules"></div>
                                </div>
                                <div class="desc-content m-v-5">
                                    <div class="cap-content">
                                        <h3>{{ cat.name }}</h3>
                                    </div>
                                    <p>{{ cat.title }}</p>
                                    <p><b>В наличии <i style="color:green;" class="fa fa-check"
                                                       aria-hidden="true"></i></b></p>
                                    <div class="price color-1 text-uppercase m-v-15 flex">
                                        <div class="p-h-15">
                                            <p class="currentPrice"><b>{{ cat.price }}</b> <small>Сум</small></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell-hover text-center">
                                    <div>
                                        <a href="{% url 'fabrics_main:detail_product' cat.pk %}"
                                           title="Травяные капсулы для роста волос Тричуп, 60 кап, Trichup Capsules"
                                           class="link-item"></a>
                                        <a href="{% url 'fabrics_main:addtocard' cat.pk %}" product="1652"
                                           class="add_to_basket link-icon"
                                           style="cursor: pointer;"><span class="circle"><i
                                                class="ls-shopping-bag"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        {% empty %}
                        <div class="desc-content m-v-5">
                            <div class="cap-content">
                                <h>Kechirasiz hozircha malumot kiritilmagan</h>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="pagination-div col-xs-12 m-b-15 text-center">
                        <ul class="pagination">
                            <li class="active"><a href="index.html">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main><!-- ./MAIN -->
{% endblock %}