{% extends 'base.html' %}
{% load static %}
{% block title %}Subcategory{% endblock %}


{% block content %}
<main data-aos="fade" data-aos-delay="0">
    <div class="main-content over-hidden">
        <!-- breadcrumb -->
        <div class="container">
            <div class="breadcrumb-container text-center-sm">
                <ol class="breadcrumb font-w-6 p-h-0 m-b-0 m-t-15">
                    <li><a href="{% url 'fabrics_main:homepage' %}">Главная</a></li>
                    <li class="active"><a href="index.html">Косметика по уходу за волосами</a></li>
                </ol>
            </div>
        </div>

        <!-- products -->
        <div class="products">
            <div class="container">
                <div class="products-selection">
                    <div class="form-selection text-center">
                        <h3 class="visible-xs visible-sm">Фильтрация</h3>


                        <form method="get" action="" id="form"
                              accept-charset="utf-8">
                            <div class="row fields-items">

                                <div class="field pie-md-flex-4 m-v-15">
                                    <select class="js-select search-hide" id="section_id" name="sectionId">
                                        <option value="0">Выберите направление</option>
                                        <option value="6" selected="selected">Косметика по уходу за волосами
                                        </option>
                                        <option value="4">Косметика по уходу за лицом</option>
                                        <option value="5">Косметика по уходу за телом</option>
                                        <option value="8">Лечебные средства</option>
                                        <option value="3">Макияж</option>
                                        <option value="287">Парфюмерия</option>
                                        <option value="336">Наборы</option>
                                    </select>
                                </div>

                                <div class="field pie-md-flex-4 m-v-15">
                                    <select class="js-select search-hide 1" id="subsection_id" name="parentId">
                                        <option value="0">Выберите из списка</option>
                                        <option value="247">Шампунь</option>
                                        <option value="248">Комплексное масло</option>
                                        <option value="97">Кондиционер</option>
                                        <option value="249">Масло</option>
                                        <option value="250">Маска</option>
                                        <option value="253">Хна</option>
                                        <option value="251">Для бровей</option>
                                        <option value="252">Загуститель волос</option>
                                        <option value="329">Для бороды</option>
                                    </select>
                                </div>

                                <div class="field pie-md-flex-4 m-v-15">
                                    <select class="js-select" id="brands" name="brand">
                                        <option value="0">Все бренды</option>
                                        <option value="345">Arcaya</option>
                                        <option value="344">Parachute</option>
                                        <option value="343">Inci</option>
                                        <option value="342">Vollare</option>
                                        <option value="341">Tony Moly</option>
                                        <option value="338">Trichup</option>
                                        <option value="274">Hemani</option>
                                        <option value="271">Dr Rashel</option>
                                        <option value="339">Vasu</option>
                                        <option value="273">Forever52</option>
                                        <option value="268">Buabed Banafa</option>
                                        <option value="275">Skin Doctor</option>
                                        <option value="270">Dr James</option>
                                        <option value="278">Constanta</option>
                                        <option value="267">Argussy</option>
                                    </select>
                                </div>

                                <div class="field pie-md-flex-2 m-v-15 input">
                                    <input type="number" name="min_price" value="" placeholder="Мин. цена"
                                           class="form-control"/>
                                </div>
                                <div class="field pie-md-flex-2 m-v-15 input">
                                    <input type="number" name="max_price" value="" placeholder="Макс. цена"
                                           class="form-control"/>
                                </div>

                                <div class="field pie-md-flex-2 m-v-15 btn-content">
                                        <span class="btn-def"><button type="submit"
                                                                      class="btn-res box-100">Найти</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="entry-header text-center color-1"><h1>Косметика по уходу за волосами</h1></div>
                <div class="products-content">

                    <div class="text-center figure-m-v-15 boxes-5 products-items">
                        {% for sub in subproduct %}
                        <figure class="hover-content hover-product">
                            <div class="wrapper">
                                <div class="img-content">
                                    <div class="img"
                                         style="background-image: url({{ sub.image.url }});"
                                         alt="Травяные капсулы для роста волос Тричуп, 60 кап, Trichup Capsules"></div>
                                </div>
                                <div class="desc-content m-v-5">
                                    <div class="cap-content">
                                        <h3>{{ sub.name }}</h3>
                                    </div>
                                    <p>{{ sub.title }}</p>
                                    <p><b>В наличии <i style="color:green;" class="fa fa-check"
                                                       aria-hidden="true"></i></b></p>
                                    <div class="price color-1 text-uppercase m-v-15 flex">
                                        <div class="p-h-15">
                                            <p class="currentPrice"><b>{{ sub.price }}</b> <small>Сум</small></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell-hover text-center">
                                    <div>
                                        <a href="{% url 'fabrics_main:detail_product' sub.pk %}"
                                           title="Травяные капсулы для роста волос Тричуп, 60 кап, Trichup Capsules"
                                           class="link-item"></a>
                                        <a href="{% url 'fabrics_main:addtocard' %}" product="1652"
                                           class="add_to_basket link-icon"
                                           style="cursor: pointer;"><span class="circle"><i
                                                class="ls-shopping-bag"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        {% empty %}
                        <div class="desc-content m-v-5">
                            <div class="cap-content">
                                <h>Kechirasiz hozircha malumot kiritilmagan</h>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="pagination-div col-xs-12 m-b-15 text-center">
                        <ul class="pagination">
                            <li class="active"><a href="index.html">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main><!-- ./MAIN -->
{% endblock %}