{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="main-content over-hidden">
        <!-- breadcrumb -->
        <div class="container">
            <div class="breadcrumb-container text-center-sm">
                <ol class="breadcrumb font-w-6 p-h-0 m-b-0 m-t-15">
                    <li><a href="{% url 'fabrics_main:homepage' %}">Главная</a></li>
                    <li class="active"><a href="{% url 'fabrics_main:aboutpage' %}">О компании</a></li>
                </ol>
            </div>
        </div>    <!-- about -->
        <div class="about">
            <div class="container">
                <div class="about-content m-b-60">
                    <div class="entry-content text-center color-1 m-v-30"><h1>О компании</h1></div>
                    <div class="text-content m-v-30">
                        <h2 style="text-align: left;"><span style="font-family: Arial;">Добро пожаловать в интернет-магазин натуральной косметики Banafa.uz!&nbsp;</span>
                        </h2>
                        <p class="MsoNormal" style="text-align: left;"><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Наша компания начинала свою деятельность как обычная оптовая компания косметических и парфюмерных товаров <strong>в 2016 году.</strong> За это время мы стали эксклюзивными&nbsp;дистрибьюторами нескольких брендов и постепенно расширяем свой ассортимент качественными товарами. <strong>В Ташкенте открыли две оптовые магазины и шоурум, есть фирменные магазины в Андижане, Намангане и в Коканде,</strong> постепенно расширяем свою дилерскую сеть по всей Республике Узбекистан. В 2018 году мы запустили свой интернет-магазин косметики. В нашем магазине представлены натуральная косметика со всего мира. Основные страны-поставщики продукции для нас, это <strong>Индия, Корея, Пакистан, ОАЭ, Турция, Польша и Германия.</strong></span>
                        </p>
                        <p class="MsoNormal" style="text-align: left;">&nbsp;</p>
                        <p class="MsoNormal" style="text-align: left;"><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
                        <p class="MsoNormal" style="text-align: left;"><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Наш основной профиль &ndash; именно оптовые продажи<i>&nbsp;</i>качественной натуральной косметики. Наши клиенты - магазины, салоны красоты, аптеки, интернет-магазины и т.д. Для этого мы предлагаем максимально удобный сервис и условия.</span>
                        </p>
                        <p class="MsoNormal" style="text-align: left;">&nbsp;</p>
                        <p class="MsoNormal" style="text-align: left;"><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
                        <p class="MsoNormal" style="text-align: left;"><strong><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">ЧП &laquo;GLAMOUR COSMETICS&raquo; является&nbsp;эксклюзивным&nbsp;дистрибьютором&nbsp;на территории Республики Узбекистан:</span></strong><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><br/>
                            <!--[if !supportLineBreakNewLine]--><br/>
                            <!--[endif]--><o:p></o:p></span></p>
                        <p style="text-align: left;"><a href="brands/brendy/trichup/index.html"><span
                                style="color: rgb(51, 102, 255);"><span lang="UZ-CYR"
                                                                        style="font-family: Arial, sans-serif;">- </span></span><span
                                lang="UZ-CYR"
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-ansi-language:&#10;     UZ-CYR"><span
                                style="color: rgb(51, 102, 255);">Trichup</span></span><span
                                style="color: rgb(51, 102, 255);"><span lang="UZ-CYR"
                                                                        style="font-family: Arial, sans-serif;">&nbsp;</span><span
                                style="font-family: Arial, sans-serif;">(</span><span lang="EN-US"
                                                                                      style="font-family: Arial, sans-serif;">Индия</span><span
                                style="font-family: Arial, sans-serif;">)</span></span></a><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
                        <p style="text-align: left;"><a href="brands/brendy/vasu/index.html"><span
                                style="color: rgb(51, 102, 255);"><span lang="EN-US"
                                                                        style="font-family: Arial, sans-serif;"><span
                                style="font-family: Arial, sans-serif;">-</span><span
                                style="font-family: Arial, sans-serif;">&nbsp;</span></span></span><span
                                lang="EN-US"
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-ansi-language:EN-US"><span
                                style="color: rgb(51, 102, 255);">Vasu</span></span><span
                                style="color: rgb(51, 102, 255);"><span lang="UZ-CYR"
                                                                        style="font-family: Arial, sans-serif;"> Healthcare</span></span><span
                                style="color: rgb(51, 102, 255);"><span
                                style="font-family: Arial, sans-serif;">      (</span><span
                                lang="EN-US" style="font-family: Arial, sans-serif;">Индия</span><span
                                style="font-family: Arial, sans-serif;">)</span></span></a><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
                        <p style="text-align: left;"><a href="brands/brendy/dr_rashel/index.html"><span
                                style="color: rgb(51, 102, 255);"><span lang="UZ-CYR"
                                                                        style="font-family: Arial, sans-serif;"><span
                                style="font-family: Arial, sans-serif;">-</span><span
                                style="font-family: Arial, sans-serif;">&nbsp;</span></span></span><span
                                lang="UZ-CYR"
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-ansi-language:&#10;     UZ-CYR"><span
                                style="color: rgb(51, 102, 255);">Dr.Rashel</span></span><span
                                style="color: rgb(51, 102, 255);"><span
                                style="font-family: Arial, sans-serif;"> (</span><span lang="UZ-CYR"
                                                                                       style="font-family: Arial, sans-serif;">ОАЭ</span><span
                                style="font-family: Arial, sans-serif;">)</span></span></a><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
                        <p class="MsoNormal" style="text-align: left;"><span lang="EN-US"
                                                                             style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;&#10;mso-ansi-language:EN-US"><a
                                href="brands/brendy/tony_moly/index.html"
                                style="font-family: Arial, Verdana, sans-serif;">- TonyMoly (Корея)</a></span></p>
                        <p class="MsoNormal" style="text-align: left;"><span lang="EN-US"
                                                                             style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;&#10;mso-ansi-language:EN-US">&nbsp;</span>
                        </p>
                        <p class="MsoNormal" style="text-align: left;"><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">а также официальным дистрибьютором брендов:<br/>
                            <!--[if !supportLineBreakNewLine]--><br/>
                            <!--[endif]--><o:p></o:p></span></p>
                        <p style="text-align: left;"><a href="brands/brendy/hemani/index.html"><span
                                style="color: rgb(51, 102, 255);"><span lang="EN-US"
                                                                        style="font-family: Arial, sans-serif;"><span
                                style="font-family: Arial, sans-serif;">-</span><span
                                style="font-family: Arial, sans-serif;">&nbsp;</span></span></span><span
                                lang="EN-US"
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-ansi-language:EN-US"><span
                                style="color: rgb(51, 102, 255);">Hemani</span></span><span
                                style="color: rgb(51, 102, 255);"><span lang="EN-US"
                                                                        style="font-family: Arial, sans-serif;">&nbsp;</span><span
                                style="font-family: Arial, sans-serif;">(</span><span lang="EN-US"
                                                                                      style="font-family: Arial, sans-serif;">Пакистан</span><span
                                style="font-family: Arial, sans-serif;">)</span></span></a><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
                        <p style="text-align: left;"><font color="#3366ff" face="Arial, sans-serif">-Arcaya
                            (Германия)</font></p>
                        <p style="text-align: left;"><span style="color: rgb(51, 102, 255);"><span
                                style="background-color: rgb(255, 255, 255);">-Inci (Турция)</span></span></p>
                        <p style="text-align: left;"><span
                                style="color: rgb(51, 102, 255);">-Parachute (Индия)</span></p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p><span style="background-color: rgb(255, 255, 255);">
                        <p style="text-align: left;">&nbsp;</p>
                        </span><span style="background-color: rgb(51, 102, 255);">
<p style="text-align: left;"><span style="font-family: Arial, &quot;sans-serif&quot;;"><o:p></o:p></span></p>
</span><span style="background-color: rgb(255, 255, 255);"> </span></p>
                        <p class="MsoNormal" style="text-align: left;">&nbsp;</p>
                        <p class="MsoNormal" style="text-align: left;"><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
                        <p class="MsoNormal" style="text-align: left;"><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Мы открыты к сотрудничеству, готовы делиться своим опытом и поможем подобрать наиболее выгодные условия именно для Вашего бизнеса.</span>
                        </p>
                        <p class="MsoNormal" style="text-align: left;"><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><br/>
                            <!--[endif]--><o:p></o:p></span></p>
                        <p class="MsoNormal" style="text-align: left;"><strong><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Почему работать с нами выгодно и удобно:</span></strong><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></p>
                        <ol style="margin-top:0cm" start="1" type="1">
                            <li class="MsoNormal" style="text-align: left;"><span
                                    style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Лучшие цены на рынке. Мы      официальный партнер и дистрибьютор всех брендов, представленных в нашем      каталоге, поэтому гарантируем самые низкие оптовые цены от первого      поставщика.</span><span
                                    style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><o:p></o:p></span>
                            </li>
                            <li class="MsoNormal" style="text-align: left;"><span
                                    style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Большой склад натуральной      косметики. Более 1000 позиций (SKU), всегда в наличии на складе в Ташкенте.<o:p></o:p></span>
                            </li>
                            <li class="MsoNormal" style="text-align: left;"><span
                                    style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Высокое качество продукции и      свежие сроки годности. Мы легально поставляем все товары в Узбекистан и      заботимся, чтобы Вы получали его с хорошим сроком годности.</span>
                            </li>
                            <li class="MsoNormal" style="text-align: left;"><span
                                    style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Все товары в нашем магазине проходят тщательную проверку качества, перед поступлением в продажу. Каждый представленный товар в нашем магазине прошел сертификацию. Мы работаем только с проверенными поставщиками и не принимаем периодически поступающие на нашу электронную почту предложения &quot;купить партию товара недорого, прямо из контейнера&quot;. <o:p></o:p></span>
                            </li>
                        </ol>
                        <ol style="margin-top:0cm" start="5" type="1">
                            <li class="MsoNormal" style="text-align: left;"><span
                                    style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Правильная упаковка. Мы знаем,      как упаковывать оптовые заказы так, чтобы они доезжали к Вам в целости и      сохранности.<o:p></o:p></span>
                            </li>
                            <li class="MsoNormal" style="text-align: left;"><span
                                    style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Удобная доставка. По городу      Ташкент доставка осуществляется через свою службу доставки. По регионам      отправляем через службы экспресс-почты.<o:p></o:p></span>
                            </li>
                        </ol>
                        <p class="MsoNormal" style="text-align: left;"><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
                        <p class="MsoNormal" style="text-align: left;"><strong><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Наша задача</span></strong><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"> - популяризация натуральных средств по уходу за собой. Натуральные товары - это то, чем пользуются современные мамочки, и заботливые папы. Мы хотим сделать натуральные средства максимально доступными, помочь с выбором и доставить необходимые товары в каждую семью с максимальным удобством. <o:p></o:p></span>
                        </p>
                        <p class="MsoNormal" style="text-align: left;"><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
                        <p class="MsoNormal" style="text-align: left;"><strong><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Наш принцип</span></strong><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"> - работать &quot;в долгую&quot;, приносить пользу и радость нашим клиентам, а не &quot;по-быстрому заработать денег&quot;. Если вам по какой-то причине не понравился или не подошел купленный у нас товар, мы с удовольствием заменим его на другой или вернем вам деньги без лишних вопросов. <o:p></o:p></span>
                        </p>
                        <p class="MsoNormal" style="text-align: left;"><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>
                        <p class="MsoNormal" style="text-align: left;"><span
                                style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">По всем брендам мы оказываем маркетинговую поддержку, предоставляем рекламные материалы, а также помогаем в подборе ассортимента. Наши менеджеры проконсультируют и посоветуют, какие продукты продаются лучше.<br/>
</span></p>
                        <p class="MsoNormal" style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;"><strong><span style="font-family: Arial;">Мы всегда рады Вам ответить в наших социальных сетях:</span></strong>
                        </p>
                        <p style="text-align: left;">&nbsp;</p>
                        <p style="text-align: left;"><a href="http://t.me/Banafa_uzoffice"><span
                                style="color: rgb(0, 0, 255);"><strong>Telegram</strong></span></a></p>
                        <p style="text-align: left;"><strong><span style="font-family: Arial;"><a
                                href="https://www.facebook.com/banafastore"><span
                                style="color: rgb(0, 0, 255);"><strong>Facebook</strong></span></a></span><span
                                style="color: rgb(0, 0, 255);"><span style="font-family: Arial;"><br/>
</span></span></strong></p>
                        <p style="text-align: left;"><strong><span style="font-family: Arial;"><a
                                href="https://www.instagram.com/banafa.uz/"><span
                                style="color: rgb(0, 0, 255);"><strong>Instagram</strong></span></a></span></strong>
                        </p>
                    </div>
                </div>
                <br><br><br>
            </div>
        </div>

    </div><!-- ./MAIN-CONTENT -->
{% endblock %}
