{% extends 'base.html' %}
{% load static %}




{% block content %}
    <main data-aos="fade" data-aos-delay="0">
        <div class="main-content over-hidden">
            <div class="container">
                <div class="breadcrumb-container text-center-sm">
                    <ol class="breadcrumb font-w-6 p-h-0 m-b-0 m-t-15">
                        <li><a href="{% url 'fabrics_main:homepage' %}">Главная</a></li>
                        <li class="active"><a href="{% url 'fabrics_about:blogpage' %}">Блог</a></li>
                    </ol>
                </div>
            </div>

            <!-- news-article -->
            <div class="news-article p-b-45">
                <div class="container">
                    <div class="entry-header text-center m-v-40 p-t-30"><h2>Блог</h2></div>
                    <div class="news-article-content row m-v-15">
                        <div class="img-content col-md-4 p-h-15 m-t-15">
                            <a href="{% static 'images/articles/1187/article-original.png' %}"
                               title="АЮРВЕДИЧЕСКАЯ КОСМЕТИКА: ЦЕЛЕБНЫЕ СРЕДСТВА ИЗ ПРИРОДНОЙ СОКРОВИЩНИЦЫ"
                               data-fancybox>
                                <img src="{% static 'images/articles/1187/article-medium.jpg' %}"
                                     alt="АЮРВЕДИЧЕСКАЯ КОСМЕТИКА: ЦЕЛЕБНЫЕ СРЕДСТВА ИЗ ПРИРОДНОЙ СОКРОВИЩНИЦЫ"
                                     class="box-100">
                            </a>
                        </div>
                        <div class="text-content p-h-15">
                            <h3>АЮРВЕДИЧЕСКАЯ КОСМЕТИКА: ЦЕЛЕБНЫЕ СРЕДСТВА ИЗ ПРИРОДНОЙ СОКРОВИЩНИЦЫ</h3>
                            <p>В последнее время мы все чаще слышим о чудодейственных свойствах аюрведической косметики,
                                но не знаем, что это такое, и как она работает. На этой странице мы расскажем о всех
                                нюансах использования этой замечательной косметики из Индии, как правильно подойти к ее
                                выбору, и какими средствами можно воспользоваться из ее богатого арсенала.&nbsp;</p>
                            <div>&nbsp;</div>
                            <div>Что такое аюрведическая косметика?</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <div>Аюрведическая косметика &mdash; это натуральные индийские средства по уходу за кожей
                                лица и тела, волосами и полостью рта. Мудрость индийской аюрведы учит жить человека в
                                гармонии с природой уже более пяти тысячелетий. Аюрведическая косметика появилась во
                                времена, когда ещё не существовало синтетических химических добавок в виде парабенов,
                                сульфатов, ароматизаторов и красителей, а потому и в наши дни главная особенность
                                аюрведической косметики &mdash; натуральные, экологически чистые компоненты.
                            </div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <div>Принципы создания аюрведической косметики</div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <div>Индийцы всегда жили в гармонии с природой. Обилие растений, которые росли вокруг них,
                                издревле использовалось, чтобы лечить заболевания, сохранять красоту кожи и волосам. Это
                                передающееся от поколения к поколению мудрых индийцев знание трав, известное как
                                аюрведа, направлено на создание энергетического баланса и гармонии. Поэтому создание
                                аюрведический косметики подчинено строгим правилам:
                            </div>
                            <div>&nbsp;</div>
                            <div>растения собираются и подвергаются обработке с учётом лунного цикла и времени суток
                            </div>
                            <div>для создания женской косметики травы собирают исключительно женщины, для мужской
                                &mdash; мужчины
                            </div>
                            <div>растения для аюрведической косметики выращиваются на специальных плантациях по всем
                                правилам органического земледелия.
                            </div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <div>Особенности аюрведической косметики</div>
                            <div>&nbsp;</div>
                            <div>Многие из этих подготовленных по специальным правилам аюрведических растений нам
                                знакомы &mdash; например, миндаль, лимон и роза, а многие из них растут только на
                                Востоке &mdash; это чудодейственные кунжут, сандал, амла, тумерик. Именно из всех этих и
                                многих других растений изготавливается та самая замечательная индийская косметика, в
                                которой можно выделить три основные особенности:
                            </div>
                            <div>&nbsp;</div>
                            <div>натуральная основа &mdash; это растительные экстракты и масла, а не глицерин,
                                пропиленгликоль или животные жиры, как в западной косметике
                            </div>
                            <div>отсутствие химических консервантов и красителей &mdash; в аюрведической косметике
                                используются только натуральные красители, а в качестве консервантов &mdash; компоненты,
                                имеющие природное происхождение; индийская косметика не содержит парабенов и фенола,
                                широко применяющегося на Западе, или входящего в состав химических шампуней содиума
                                лаурил сульфата (SLS) &mdash; пенообразователя, дающего жирорастворяющий эффект, но при
                                этом аллергенного и агрессивного к защитному слою кожи
                            </div>
                            <div>комплексность растений &mdash; тогда как в искусственной косметике используется
                                экстракт одного или двух растений, в состав аюрведической косметики входит от трёх до
                                десяти трав и корней, усиливающих действие друг друга &mdash; условно говоря, работающих
                                &laquo;в команде&raquo;.
                            </div>
                            <div>&nbsp;</div>
                            <div>&nbsp;</div>
                            <div>Виды аюрведической косметики</div>
                            <div>&nbsp;</div>
                            <div>Средства уникальной аюрведической косметики можно разделить на несколько групп &mdash;
                                это:
                            </div>
                            <div>&nbsp;</div>
                            <div>косметика по уходу за кожей &mdash; кремы, скарбы маски, мыло и другие очищающие
                                средства
                            </div>
                            <div>средства для ухода за волосами &mdash; натуральные шампуни, порошки, маски, бальзамы
                            </div>
                            <div>аюрведическая зубная паста и порошок</div>
                            <div>парфюмерия</div>
                            <div>аюрведическая декоративная косметика &mdash; например, пудра, тушь, натуральный кайал
                                (кахль) для подводки глаз.
                            </div>
                            <div>Как видите, аюрведический подход к красоте &mdash; это не просто уход за лицом и
                                волосами, а система оздоровления, основанная на древней мудрости. В сочетании с
                                современными технологиями и использованием последних достижений косметологии ведущие
                                индийские производители создают уникальную по воздействию косметическую продукцию,
                                попробовав которую, вы навсегда откажетесь от искусственной косметики.
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div><!-- ./MAIN-CONTENT -->


    </main><!-- ./MAIN -->
{% endblock %}