{% extends 'base.html' %}
{% load static %}
{% block title %}Filial{% endblock %}

{% block content %}
<main data-aos="fade" data-aos-delay="0">


    <div class="main-content over-hidden">
        <!-- breadcrumb -->
        <div class="container">
            <div class="breadcrumb-container text-center-sm">
                <ol class="breadcrumb font-w-6 p-h-0 m-b-0 m-t-15">
                    <li><a href="{% url 'fabrics_main:homepage' %}">Главная</a></li>
                    <li class="active"><a href="{% url 'fabrics_about:filialypage' %}">Филиалы</a></li>
                </ol>
            </div>
        </div>

        <!-- about -->
        <div class="about">
            <div class="container">
                <div class="about-content m-b-60">
                    <div class="entry-content text-center color-1 m-v-30"><h1>Филиалы</h1></div>
                    <div class="text-content m-v-30">

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="relative m-v-45">
                    <div class="pie-cells-3 text-center m-v-30">
                        {% for branch in branches %}
                        <figure class="pie-cell">
                            <a href="{% url 'fabrics_about:filiaydetail' branch.pk %}" title="{{ branch.title }}">
                                <div class="img-content"><img src="{{ branch.image.url }}"
                                                              alt="Магазин Banafa Cosmetics"></div>
                                <div class="desc-content m-v-30">
                                    <div class="m-v-30">
                                        <h4>{{ branch.title }}</h4>
                                        <span>{{ branch.name }}</span>
                                    </div>
                                </div>
                                <p><span>{{ branch.phone }}</span></p>
                            </a>
                        </figure>
                        {% empty %}
                        <h>Kechirasiz hozircha malumot kiritilmagan</h>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

    </div><!-- ./MAIN-CONTENT -->

</main><!-- ./MAIN -->
{% endblock %}
