{% extends 'base.html' %}
{% load static %}



{% block content %}
    <main data-aos="fade" data-aos-delay="0">


        <div class="main-content over-hidden m-b-30">
            <!-- breadcrumb -->
            <div class="container">
                <div class="breadcrumb-container text-center-sm">
                    <ol class="breadcrumb font-w-6 p-h-0 m-b-0 m-t-15">
                        <li><a href="{% url 'fabrics_main:homepage' %}">Главная</a></li>
                        <li class="active"><a href="#">Отзывы</a></li>
                    </ol>
                </div>
            </div>

            <div class="row reviews">
                <div class="container m-v-30">
                    <div class="short-reviews-carousel relative flickity-btn-1 m-v-45">
                        <h1>Отзывы наших клентов</h1>
                        <div class="carousel-items pie-cells-2 text-center m-v-30">

                            <figure class="pie-cell">
                                <div class="img-content"><img src="{% static 'images/articles/13/article-large.jpg' %}"
                                                              alt="Оставить отзыв"></div>
                                <div class="desc-content m-v-30">
                                    <p>Можете ознакомится с отзывами клиентов в&nbsp;<a
                                            href="https://t.me/banafa_uz_feed"><u><strong>телеграм-канале</strong></u></a>&nbsp;<a
                                            href="https://t.me/banafa_uz_feed"><strong><u>https://t.me/banafa_uz_feed</u></strong></a>
                                    </p>
                                    <p>&nbsp;</p>
                                    <p>Banafa.uz выражает Вам огромную благодарность за Ваш выбор! Мы будем очень рады
                                        если Вы оставите свой отзыв на нашем сайте и на страницах в соц.сетях, для
                                        повышения качества сервиса нашего магазина.</p>
                                    <p>&nbsp;</p>
                                    <p><strong>Вы можете оставить отзыв&nbsp;<a href="https://t.me/banafa_uzbot"><span
                                            style="color: rgb(0, 0, 255);"><u>здесь</u></span></a></strong></p>
                                    <div class="m-v-30">
                                        <h4>Оставить отзыв</h4>
                                        <span></span>
                                    </div>
                                </div>
                            </figure>
                            <figure class="pie-cell">
                                <div class="img-content"><img src="{% static 'images/articles/14/article-large.jpg' %}"
                                                              alt="Оставить отзыв"></div>
                                <div class="desc-content m-v-30">
                                    <p>Можете ознакомится с отзывами клиентов в <a
                                            href="https://t.me/banafa_uz_feed"><u><strong>телеграм-канале</strong></u></a>
                                        <a href="https://t.me/banafa_uz_feed"><strong><u>https://t.me/banafa_uz_feed</u></strong></a>
                                    </p>
                                    <p>&nbsp;</p>
                                    <p>Banafa.uz выражает Вам огромную благодарность за Ваш выбор! Мы будем очень рады
                                        если Вы оставите свой отзыв на нашем сайте и на страницах в соц.сетях, для
                                        повышения качества сервиса нашего магазина.</p>
                                    <p>&nbsp;</p>
                                    <p><strong>Вы можете оставить отзыв&nbsp;<a href="https://t.me/banafa_uzbot"><span
                                            style="color: rgb(0, 0, 255);"><u>здесь</u></span></a></strong></p>
                                    <div class="m-v-30">
                                        <h4>Оставить отзыв</h4>
                                        <span></span>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="carousel-prev-next">
                            <span class="next"> <i class="fa fa-angle-right"></i></span>
                            <span class="prev"> <i class="fa fa-angle-left"></i></span>
                        </div>
                    </div>
                </div>
            </div>


        </div><!-- ./MAIN-CONTENT -->

    </main><!-- ./MAIN -->
{% endblock %}