{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="main-slider">
    <div class="fullscreen-container">
        <div class="rev-slider bg-color-white">
            <ul>
                {% for img in image %}
                <li data-transition="boxfade" data-masterspeed="1200">
                    <a href="{% url 'fabrics_main:menu_product' img.pk %}" class="fulllink"></a>
                    <img src="{{ img.image.url }}" alt="  ">
                    <div class="wrapper-bg tp-caption customin customout start hidden"
                         data-x="center"
                         data-y="center" data-customin="opacity:0;" data-customout="opacity:0;"
                         data-speed="1800" data-hoffset="0" data-voffset="0" data-start="1000"
                         data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power4.easeIn"
                         data-captionhidden="on"></div>
                    <div class="container">
                        <div class="tp-caption slide-header customin customout start hidden-xs hidden-sm"
                             data-x="left" data-y="top" data-customin="opacity:0;" data-customout="opacity:0;"
                             data-speed="1800" data-hoffset="20" data-voffset="50" data-start="1200"
                             data-easing="Power4.easeOut" data-endspeed="1000" data-endeasing="Power4.easeIn"
                             data-captionhidden="on">
                            <h2></h2>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="arrow-container container"></div>
    </div>
</div>

<style>

        .fulllink {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
        }


</style>

<div class="short-advantages">
    <div class="container p-v-10">
        <div class="row">
            <div class="short-advantages-items text-left-sm boxes hidden-xs hidden-sm figure-m-v-5">
                <figure>
                    <div class="img-content pie-xs-4 p-h-15">
                        <div class="icon pie-flex-center text-center">
                            <div><i class="fa fa-truck"></i></div>
                        </div>
                    </div>
                    <div class="desc-content pie-xs-8 p-h-15"><p>Доставка по Узбекистану в течении 2-х
                        дней</p></div>
                </figure>
                <figure>
                    <div class="img-content pie-xs-4 p-h-15">
                        <div class="icon pie-flex-center text-center">
                            <div><i class="fa fa-mail-reply-all"></i></div>
                        </div>
                    </div>
                    <div class="desc-content pie-xs-8 p-h-15"><p>Удобные способы оплаты</p></div>
                </figure>
                <figure>
                    <div class="img-content pie-xs-4 p-h-15">
                        <div class="icon pie-flex-center text-center">
                            <div><i class="fa fa-bullhorn"></i></div>
                        </div>
                    </div>
                    <div class="desc-content pie-xs-8 p-h-15"><p>Только подлинные товары</p></div>
                </figure>
            </div>
        </div>
    </div>
</div>


<div class="productions-tab bg-texture-1 flickity-btn-1">
    <div class="container">
        <div class="entry-header m-v-30">
            <h2 class="font-family-2 color-1 h-clear">Best products</h2>
            <h1 class="h-clear">Товары Banafa.uz<span class="color-1"></span></h1>
            <div class="productions-tablist hide float-right-md">
                <ul class="list-inline">
                    <li class="active"><a href="#production-tab-1" data-toggle="tab" flickity="resize">Новинки</a>
                    </li>
                    <li><a href="#production-tab-2" data-toggle="tab" flickity="resize">Популярные</a></li>
                    <li><a href="#production-tab-3" data-toggle="tab" flickity="resize">Распродажа</a></li>
                </ul>
            </div>
        </div>

        <div class="tab-content">

            <div role="tabpanel" id="production-tab-1">
                <div class="productions-carousel relative">
                    <div class="col-xs-6 production-cap  text-left-sm"><h2>Новинки</h2></div>
                    <div class="col-xs-6 production-linkall text-right-sm p-v-10"><a
                            href="{% url 'fabrics_main:newproduct' %}">
                        <div class="buttons">Все новинки</div>
                    </a></div>

                    <div class="text-center carousel-items">
                        {% for product in products %}
                        <figure class="hover-content hover-product">
                            <div class="wrapper">
                                <div class="img-content">
                                    <div class="img"
                                         style="background-image: url({{ product.image.url }});"
                                         alt="Тональный крем DD Cream natural 01"></div>
                                </div>

                                <div class="desc-content m-v-5">
                                    <div class="cap-content">


                                        <h3>{{ product.name }}</h3>


                                    </div>
                                    <p>{{ product.title }}</p>
                                    <p><b>В наличии <i style="color:green;" class="fa fa-check"
                                                       aria-hidden="true"></i></b></p>
                                    <div class="price color-1 text-uppercase m-v-15 flex">

                                        <div class="p-h-15">

                                            <p class="currentPrice"><b>{{ product.price }}</b> <small>Сум</small></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell-hover text-center">
                                    <div>
                                        <a href="{% url 'fabrics_main:detail_product' product.pk %}"
                                           title="Тональный крем DD Cream natural 01" class="link-item"></a>
                                        <a href="{% url 'fabrics_main:addtocard' product.id %}" class="add_to_basket link-icon"
                                           style="cursor: pointer;"><span class="circle"><i
                                                class="ls-shopping-bag"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        {% empty %}
                        <div class="desc-content m-v-5">
                            <div class="cap-content">
                                <h>Kechirasiz hozircha malumot kiritilmagan</h>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="carousel-prev-next hide">
                        <span class="next"> <i class="fa fa-angle-right"></i></span>
                        <span class="prev"> <i class="fa fa-angle-left"></i></span>
                    </div>
                </div>
            </div>

            <div role="tabpanel" id="production-tab-2">
                <div class="productions-carousel relative">

                    <div class="col-xs-6 production-cap text-left-sm"><h2>Популярные</h2></div>
                    <div class="col-xs-6 production-linkall text-right-sm p-v-10"><a
                            href="{% url 'fabrics_main:top_product' %}">
                        <div class="buttons">Все популярные</div>
                    </a></div>

                    <div class="text-center carousel-items">
                        {% for top in top_product %}
                        <figure class="hover-content hover-product">
                            <div class="wrapper">
                                <div class="img-content">
                                    <div class="img"
                                         style="background-image: url({{ top.image.url }});"
                                         alt="Касторовое масло (castor oil) 40ml"></div>
                                </div>

                                <div class="desc-content m-v-5">
                                    <div class="cap-content">
                                        <h3>{{ top.name }}</h3>
                                    </div>
                                    <p>{{ top.name }}</p>
                                    <p><b>В наличии <i style="color:green;" class="fa fa-check"
                                                       aria-hidden="true"></i></b></p>
                                    <div class="price color-1 text-uppercase m-v-15 flex">

                                        <div class="p-h-15">

                                            <p class="currentPrice"><b>{{ top.price }}</b> <small>Сум</small></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell-hover text-center">
                                    <div>
                                        <a href="{% url 'fabrics_main:detail_product' top.pk %}"
                                           title="Касторовое масло (castor oil) 40ml" class="link-item"></a>
                                        <a href="#" class="add_to_basket link-icon"
                                           style="cursor: pointer;"><span class="circle"><i
                                                class="ls-shopping-bag"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                        {% empty %}
                        <div class="desc-content m-v-5">
                            <div class="cap-content">
                                <h>Kechirasiz hozircha malumot kiritilmagan</h>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="carousel-prev-next hide">
                        <span class="next"> <i class="fa fa-angle-right"></i></span>
                        <span class="prev"> <i class="fa fa-angle-left"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="wholesalers">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-h-15 m-v-30">
                <div class="text-content">
                    <h4>Натуральная уходовая косметика, средств для ухода за лицом, кожей и волосами</h4>
                    <p>В интернет-магазине косметики BANAFA.UZ вы можете купить <strong>натуральную
                        косметику для ухода за лицом, кожей и волосами,</strong> аюрведические средства,
                        100% натуральные лечебные и косметические масла, восточную парфюмерию и
                        профессиональную декоративную косметику по доступным низким ценам.</p>
                    <p>&nbsp;</p>
                    <div><strong>Доставим ваш заказ в Ташкенте день в день,</strong> если заказ оформляется
                        до 12 часов. Оплата при получении любым удобным вам способом.
                    </div>
                    <div>&nbsp;</div>
                    <p>По регионам отправляем через курьерскую службу до центра города только после
                        онлайн-оплаты через систему Payme или Click.</p>
                    <p>&nbsp;</p>
                    <p>Также у нас предусмотрен <strong>самовывоз</strong>, при котором вы можете
                        самостоятельно забрать товар, приготовленный оператором в нашем магазине по адресу:
                        Шайхантохурский район, ул.Беруний, д.2. <strong>Ориентир: метро Тинчлик, кинотеатр
                            Гунча.</strong></p>
                    <p>&nbsp;</p>
                </div>
                <div class="btn-content"><span class="btn-def inline-block"><a data-toggle="modal"
                                                                               data-target="#form-wholesalers"
                                                                               role="button">Для оптовиков</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}